# History files
.Rhistory
# Example code in package build process
*-Ex.R
.Rproj.user
*.Rproj
vignettes/*.pdf
vignettes/*.toc
vignettes/*.tex
.RData
*.kml
vignettes/envirocar.synctex.gz
vignettes/cache/
vignettes/analysis-traj-eC.synctex.gz
